@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

//colors
$dark-font: #4D4F62;
$light-font: #6A7178;

body {
  background-color: #FFF;
  color: $dark-font;
  font-family: Poppins;
  font-size: 15px;
}

//fonts

%main-headings {
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: 0.25px;;
}

h1 {
  @extend %main-headings;
  font-weight: 400;
  margin-bottom: 1rem;
}
h2 {
  @extend %main-headings;
  font-weight: 100;
}

h3 {
  font-size: 1.25rem;
  line-height: 140%;
  font-weight: 400;
}

.title p {
  line-height: 140%;
}

.card p {
  font-size: .775rem;
  line-height: 160%;
  color: $light-font;
}
//elements

main {
  min-width: 316px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem 2rem;
}

.title {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 147px;
  margin-bottom: 2rem;
}

#cards-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 1096px;
}

.card {
  width: 100%;
  height: 250px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 8px rgb(220, 220, 220);
  border-radius: 8px;
  position: relative;
  margin-bottom: 1.5rem;
}

.card-text {
  height: 250px;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.card img {
  height: 4rem;
  width: 4rem;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

#supervisor {
  border-top: .25rem solid hsl(180, 62%, 55%);
}

#team-builder {
  border-top: .25rem solid hsl(0, 78%, 62%);
}

#karma{
  border-top: .25rem solid hsl(34, 97%, 64%);
}

#calculator {
  border-top: .25rem solid hsl(212, 86%, 64%);
}

footer {
  display:flex;
  justify-content: center;
  padding: 1rem;
}

//media queries

@media screen and (min-width: 576px){
  #cards-container {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: auto auto auto;
    height: 814px;
    gap: 1rem;
  }

  #supervisor {
    grid-row: 1;
    position: relative;
    left: 50%;
  }

  #team-builder {
    grid-row: 2;
  }

  #karma{
    grid-row: 2;
  }

  #calculator {
    grid-row: 3;
    position: relative;
    left: 50%;
  }

  .card {
    min-width: 16rem;
    max-width: 18rem;
  }
}

@media screen and (min-width: 992px){
  #cards-container {
    display: grid;
    position: relative;
    bottom: 8rem;
    gap: 2rem;
    justify-content: center;
    align-content: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
  }

  #supervisor {
    grid-column: 1;
    grid-row: 1;
    left: initial;
    top: 50%;
  }

  #team-builder {
    grid-column: 2;
    grid-row: 1;
  }

  #karma{
    grid-column: 2;
    grid-row: 2;
  }

  #calculator {
    grid-column: 3;
    grid-row: 1;
    left: initial;
    top: 50%;
  }

  .card {
    min-width: 20rem;
    max-width: 22rem;
  }
}
